<!DOCTYPE html>
<html>
<head>
	<title>Contact Us</title>
</head>
<body>
	<a href="/articles/">Home</a>
	<a href="/about/">About Us</a>
	<a href="/articles/new">Add New</a>
	<a href="/contact/">Contact Us</a>
	<h1><b>Contact Us Today!</b></h1>
	<h2>1-800-SuperMan</h2>
</body>
</html>