<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link href="stylesheets/main.css" rel="stylesheet">
</head>
<body>
<nav>
	<a href="/">Home</a>
	<a href="/articles/">Articles</a>
	<a href="/articles/new">Add New</a>
	<a href="/about/" class="selected">About Us</a>
	<a href="/contact/">Contact Us</a>
</nav>
	<h1><b>About The Daily Planet</b></h1>
	<p>The Daily Planet is a fictional broadsheet newspaper in the DC Comics Universe, appearing mostly in the stories of Superman. The building's original features appear to be based upon the Old Toronto Star Building, where Superman co-creator Joe Shuster had been a newsboy when the Toronto Star was still called the Daily Star. Shuster has claimed that Metropolis is visually based on Toronto. The Daily Planet is based in Metropolis and employs Clark Kent, Lois Lane, and Jimmy Olsen; its editor-in-chief is Perry White.
	</p>
</body>
</html>