<!DOCTYPE html>
<html>
<head>
	<title>New Articles</title>
</head>
<body>
	<a href="/articles/">Home</a>
	<a href="/about/">About Us</a>
	<a href="/articles/new">Add New</a>
	<a href="/contact/">Contact Us</a>
	<h1>Complete the following form</h1>
	<form method="post" action="/articles">
		<input type="text" name="title" placeholder="What is the title of your article">
		</br>
		<textarea name="content">Place your article here</textarea>
		</br>
		<button>Save</button>
	</form>
</body>
</html>